<!doctype html>
<html>
	<head>
		<title>TinySearch</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<script src="/jquery/jquery.min.js"></script>
		<!-- jquery-mobile -->
		<script src="/jquery-mobile/js/jquery.mobile.data.js"></script>
		<link rel="stylesheet" type="text/css" href="/jquery-mobile/css/themes/default/jquery.mobile.css"/>
		<!-- select2 -->
		<script src="/select2/select2.js"></script>
		<link rel="stylesheet" type="text/css" href="/select2/select2.css"/>
		<!-- curstom js -->
		<script src="/javascripts/index.js"></script>
	</head>
	<body>
		<div class="main">
			<div class="top">
				<div class="logo">
					<span>TS</span>
				</div>
				<div class="actions">
					<input type="search" placeholder="Just do a search ..." class="search-query" tapindex="0" />
					<input type="button" value="SEARCH" class="run-search" tabindex="0" />
				</div>
			</div>
			<div class="bottom">
				<div class="r">
					<div class="rslist">
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
							<div class="actions">
								<div class="btns remove-this-site">Remove</div>
								<div class="btns follow-this-site">Follow this site?</div>
								<div class="btns local-pagerank-up"></div>
								<div class="btns local-pagerank-down"></div>
							</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
							<div class="actions">
								<div class="btns remove-this-site">Remove</div>
								<div class="btns follow-this-site">Follow this site?</div>
								<div class="btns local-pagerank-up"></div>
								<div class="btns local-pagerank-down"></div>
							</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
							<div class="actions">
								<div class="btns remove-this-site">Remove</div>
								<div class="btns follow-this-site">Follow this site?</div>
								<div class="btns local-pagerank-up"></div>
								<div class="btns local-pagerank-down"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="l">
					<h1>Limit by</h1>
					<ul>
						<li>Page-rank</li>
						<li>
							<select class="input">
								<option selected="selected">10</option>
								<option>9</option>
								<option>8</option>
								<option>7</option>
								<option>6</option>
								<option>5</option>
								<option>4</option>
								<option>3</option>
								<option>2</option>
								<option>1</option>
								<option>0</option>
							</select>
						</li>
						<li>Mediatypes like</li>
						<li>
							<select class="input">
								<option selected="selected">Websites</option>
								<option>Image</option>
								<option>Music</option>
								<option>Video</option>
							</select>
						</li>
						<li>Languages</li>
						<li>
							<select class="input languages"></select>
						</li>
						<li>Link created-date</li>
						<li>
							<input type="date" class="input" data-role="date"/>
						</li>
						<li>Providers</li>
						<li>
							<select  multiple="multiple" placeholder="Providers" class="input">
								<option selected="selected">localhost</option>
								<option selected="selected">wikipedia.org</option>
								<option selected="selected">tinysearch.com</option>
								<option selected="selected">google.com</option>
								<option>youtube.com</option>
								<option>twitter.com</option>
								<option>wikileaks.org</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>