<!doctype html>
<html>
	<head>
		<title>TS - TinySearch</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
		<script src="/jquery/dist/jquery.min.js"></script>
		<script src="/javascripts/index.js"></script>
	</head>
	<body>
		<div class="main">
			<div class="top">
				<div class="logo">
					<span>TS</span>
				</div>
				<div class="actions">
					<input type="search" placeholder="Just do a search ..." class="search-query" tapindex="0" />
					<input type="button" value="SEARCH" class="run-search" tabindex="0" />
				</div>
			</div>
			<div class="bottom">
				<div class="r">
					<div class="rslist">
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
						<div class="item" tabindex="0">
							<div class="title">DFDF - What does DFDF stand for?</div>
							<div class="url">acronyms.thefreedictionary.com/DFDF</div>
							<div class="short-text">What does DFDF stand for? Definition of DFDF in the list of acronyms and abbreviations provided by the Free Online Dictionary and Thesaurus.</div>
						</div>
					</div>
				</div>
				<div class="l">
					<h1>Limit by</h1>
					<ul>
						<li>Pagerank</li>
						<li>
							<select>
								<option>10</option>
								<option>9</option>
								<option>8</option>
								<option>7</option>
								<option>6</option>
								<option>5</option>
								<option>4</option>
								<option>3</option>
								<option>2</option>
								<option>1</option>
								<option>0</option>
							</select>
						</li>
						<li>Creation date</li>
						<li>
							<input type="date" placeholder="" />
						</li>
						<li>Languages</li>
						<li>
							<select>
								<option>DA</option>
							</select>
						</li>
						<li>Mediatypes</li>
						<li>
							<select>
								<option>Websites</option>
								<option>Images</option>
							</select>
						</li>
						<li>Providers</li>
						<li>
							<select>
								<option>Localhost</option>
								<option>Google</option>
								<option>Wikipedia</option>
								<option>Twitter</option>
								<option>Wikileaks</option>
							</select>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>